<% if user_signed_in? %>
  



<body id="body">
    <div id="sky" class="text-center">
        <h1>Sound One Line Diary</h1>
        <p>Hello, <%= current_user.username %>! </p>
    </div>

    <div id="landscape" class="container">




        <!-- イベント -->

        <div id="events">
            <!-- ラジオボタン -->
            <h2>Events</h2>
            <input type="radio" name="events" value="hanabi" onclick="getEvents('events'); hanabi(); start()">花火
            <input type="radio" name="events" value="camp" onclick="getEvents('events'); camp(); start()">キャンプ
            <input type="radio" name="events" value="sea" onclick="getEvents('events'); sea(); start()">海　

        </div>




        <!-- 人 -->

        <div id="person">
            <!-- ラジオボタン -->
            <h2>Person</h2>
            <input type="radio" name="person" value="family" onclick="getPerson('person'); add_person()">家族
            <input type="radio" name="person" value="friend" onclick="getPerson('person'); add_person()">友達
            <input type="radio" name="person" value="lover" onclick="getPerson('person'); add_person()">恋人

        </div>
        
        



        <!-- 感情 -->

        <div id="emotion">

            <!-- ラジオボタン -->
            <h2>Emotion</h2>
            <input type="radio" name="emotion" value="happy" onclick="getEmotion('emotion'); add_emotion()">楽しい
            <input type="radio" name="emotion" value="sad" onclick="getEmotion('emotion'); add_emotion()">悲しい

        </div>


    </div>


    <div id="ground">

    </div>



    <!-- 効果音 -->
    <audio id="hanabi" preload="auto" loop>
        <source src="sound/hanabi/hanabi.mp3" type="audio/mp3">
    </audio>
    <audio id="hanabi_lover" preload="auto" loop>
        <source src="sound/hanabi/hanabi_koibito.mp3" type="audio/mp3">
    </audio>
    <audio id="hanabi_friend" preload="auto" loop>
        <source src="sound/hanabi/hanabi_tomodachi.mp3" type="audio/mp3">
    </audio>

    <audio id="sad" preload="auto" loop>
        <source src="sound/hanabi/kanashi.mp3" type="audio/mp3">
    </audio>
    <audio id="happy" preload="auto" loop>
        <source src="sound/hanabi/tanoshi.mp3" type="audio/mp3">
    </audio>


</body>


<body id="body">
    <div id="sky" class="text-center">
        <h1>Sound One Line Diary</h1>
    </div>

    <div id="landscape" class="container">



        <div class="container">
        <!-- イベント -->
        <br>
        <div id="events" class="container">
            <!-- ラジオボタン -->
            <h2>Events</h2>
            <input type="radio" name="events" value="hanabi" onclick="getEvents('events'); hanabi(); start()">花火
            <input type="radio" name="events" value="camp" onclick="getEvents('events'); camp(); start()">キャンプ
            <input type="radio" name="events" value="sea" onclick="getEvents('events'); sea(); start()">海　

        </div><br>




        <!-- 人 -->

        <div id="person" class="container">
            <!-- ラジオボタン -->
            <h2>Person</h2>
            <input type="radio" name="person" value="family" onclick="getPerson('person'); add_person()">家族
            <input type="radio" name="person" value="friend" onclick="getPerson('person'); add_person()">友達
            <input type="radio" name="person" value="lover" onclick="getPerson('person'); add_person()">恋人

        </div>
       <br> 
        



        <!-- 感情 -->

        <div id="emotion" class="container">

            <!-- ラジオボタン -->
            <h2>Emotion</h2>
            <input type="radio" name="emotion" value="happy" onclick="getEmotion('emotion'); add_emotion()">楽しい
            <input type="radio" name="emotion" value="sad" onclick="getEmotion('emotion'); add_emotion()">悲しい

        </div>
        <br><br>

      <p class="btn btn-dark"><%= link_to "設定", edit_user_registration_path, :class => "navbar-link" %></p>
      <p class="btn btn-dark"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => "navbar-link" %></p>
      
      
    </div>


    <div id="ground" class="container">
    </div>
    </div>



    <!-- 効果音 -->
    <audio id="hanabi" preload="auto" loop>
        <source src="/app/assets/images/sound/hanabi/hanabi.mp3" type="audio/mp3">
    </audio>
    <audio id="hanabi_lover" preload="auto" loop>
        <source src="sound/hanabi/hanabi_koibito.mp3" type="audio/mp3">
    </audio>
    <audio id="hanabi_friend" preload="auto" loop>
        <source src="sound/hanabi/hanabi_tomodachi.mp3" type="audio/mp3">
    </audio>

    <audio id="sad" preload="auto" loop>
        <source src="sound/hanabi/kanashi.mp3" type="audio/mp3">
    </audio>
    <audio id="happy" preload="auto" loop>
        <source src="sound/hanabi/tanoshi.mp3" type="audio/mp3">
    </audio>


</body>





<%else%>

<body id="body">
    <div id="sky" class="text-center">
        <h1>Sound One Line Diary</h1>
    </div>

    <div id="landscape" class="container">



        <div class="container">
        <!-- イベント -->
        <br>
        <div id="events" class="container">
            <!-- ラジオボタン -->
            <h2>Events</h2>
            <input type="radio" name="events" value="hanabi" onclick="getEvents('events'); hanabi(); start()">花火
            <input type="radio" name="events" value="camp" onclick="getEvents('events'); camp(); start()">キャンプ
            <input type="radio" name="events" value="sea" onclick="getEvents('events'); sea(); start()">海　

        </div><br>




        <!-- 人 -->

        <div id="person" class="container">
            <!-- ラジオボタン -->
            <h2>Person</h2>
            <input type="radio" name="person" value="family" onclick="getPerson('person'); add_person()">家族
            <input type="radio" name="person" value="friend" onclick="getPerson('person'); add_person()">友達
            <input type="radio" name="person" value="lover" onclick="getPerson('person'); add_person()">恋人

        </div>
       <br> 
        



        <!-- 感情 -->

        <div id="emotion" class="container">

            <!-- ラジオボタン -->
            <h2>Emotion</h2>
            <input type="radio" name="emotion" value="happy" onclick="getEmotion('emotion'); add_emotion()">楽しい
            <input type="radio" name="emotion" value="sad" onclick="getEmotion('emotion'); add_emotion()">悲しい

        </div>
        <br><br>

      <p class="btn btn-dark"><%= link_to "サインアップ", new_user_registration_path, :class => 'navbar-link' %></p>
      <p class="btn btn-dark"><%= link_to "ログイン", new_user_session_path, :class => 'navbar-link' %></p>
    </div>


    <div id="ground" class="container">
    </div>
    </div>



    <!-- 効果音 -->
    <%= audio_tag("hanabi.mp3", autoplay: false, controls: true, type: 'audio/mp3') %>
    <audio id="hanabi" preload="auto" loop>
        <source src="sound/hanabi/hanabi.mp3" type="audio/mp3">
    </audio>
    <%= audio_tag("hanabi/hanabi.mp3",id:"hanabi") %>
    <audio id="hanabi_lover" preload="auto" loop>
        <source src="sound/hanabi/hanabi_koibito.mp3" type="audio/mp3">
    </audio>
    <audio id="hanabi_friend" preload="auto" loop>
        <source src="sound/hanabi/hanabi_tomodachi.mp3" type="audio/mp3">
    </audio>

    <audio id="sad" preload="auto" loop>
        <source src="sound/hanabi/kanashi.mp3" type="audio/mp3">
    </audio>
    <audio id="happy" preload="auto" loop>
        <source src="sound/hanabi/tanoshi.mp3" type="audio/mp3">
    </audio>


</body>




<%end%>